<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KIKI_ReturnSaiyans.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <KIKI_ReturnSaiyans.config>
      <setting name="HTKcuraMagia" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKcuraVidaSenzu" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKcuraKISenzu" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKtreino1" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKtreino2" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKtreino3" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKcomerFood" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKatacar" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKtreino4" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKtreino5" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKpausarBOT" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="HTKativarBOT" serializeAs="String">
        <value>None</value>
      </setting>
    </KIKI_ReturnSaiyans.config>
  </userSettings>
</configuration>